<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help page</title>
  </head>
  <body>
    {{> header}}
    <p>Gonna SHOW U</p>
    {{> footer}}
  </body>
</html>
